.canvasContainer {
    align-items: center;
    justify-content: center;
}

.canvas {
    object-fit: contain;
    width: 600px;
    height: auto;
    transform: translateX(50%);
}

.uploadFile {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:380px) {
    .canvas {
        object-fit: contain;
        width: 100VW !IMPORTANT;
        height: 60VH !important;
        TRANSFORM: TRANSLATEX(0);
    }
    .uploadFile {
        display: contents;
        align-items: center;
        justify-content: center;
    }
}